<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Покупка бананов</title>
</head>
<body>
    <h1>Оформление заказа</h1>
    <form action="" method="post">
        <input type="text" name="name" placeholder="Ваше имя">
        <input type="text" name="email" placeholder="E-mail">
        <input type="text" name="phone" placeholder="Контактный телефон">
        <hr>
        <input type="number" name="howmany" placeholder="Количество партий по 1000кг">
        <select name="color">
            <option>Зелёные</option>
            <option>Салатовые</option>
            <option>Жёлтые</option>
        </select>
        <hr>
        <input type="text" name="city" placeholder="Город">
        <input type="text" name="street" placeholder="Улица">
        <input type="text" name="house" placeholder="Дом">
        <input type="text" name="coords" placeholder="Координаты">
        <hr>
        <input type="text" name="promo" placeholder="Промокод" value="0000" maxlength="5" minlength="4">
        <input type="submit">
    </form>

</body>
</html>