<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="index.css" type="text/css">
    <meta charset="UTF-8">
    <title>Счётчик цен</title>
</head>
<body>
    <ul>
      <li><a href="/">Главная</a></li>
      <li><a href="/kypi-banan/">Покупка бананов</a></li>
      <li><a href="/price-counter/">Расчёт цен</a></li>
      <li><a href="/contact/">Контакты</a></li>
    </ul>
    <form action="" method="post">
        <input name="howmany" type="number" placeholder="Количество партий по 1000кг">
        <input type="submit" placeholder="Расчитать">
    </form>
    {% if printable %}
        <p>{{ howmany }} кг бананов - {{ price }} &#8381;</p>
    {% endif %}
</body>
</html>